doctype html 
html 
    head 
        title Yashasvi's World 
        block script 
        block style 
    body 
        nav#navbar 
            ul
                div#logo
                    img(src="/static/images/logo.jpg", alt="")  
                li #[a(href="/Home") Home]
                li #[a(href="/Services") Services]
                div#logo2
                    img(src="static/images/facebook.png", alt="")
                    img(src="static/images/instagram.png", alt="")
                    img(src="static/images/twitter.png", alt="")
                    img(src="static/images/youtube.png", alt="")
        block content
        footer#footer 
            div.foot
                    ul 
                        li Privacy Policy
                        li Terms and Conditions 
                    p @2024-present - the ystour.All rights reserved.Designed and Developed by Yashasvi Sharma