extends  base.pug

//- block scripts 
//-     script(src="script.js") 

block style 
    style 
        include ../static/style.css 
        include ../static/styleservices.css

block content 
    section#section1 
        p Welcome to Yashasvi's 
        p Nature!
        
        div.cls2 
            div.cls 
                div EXPLORE
                div DISCOVER 
                div TRAVEL
            h1  ADVENTURE 
    section#section2 
        div.cls3 
            h1 Life is an adventure 
            p capture and relieve life greatest moments with 
            p photographs that tell your unique story 
        div.cls4
            h1 Meet with Yashasvi 
        div.cls5 
            ul 
                li FEEL AT EASE AND ENJOY THE JOURNEY 
                li CAPTURE MEANINGFUL MOMENTS
                li SHARE MEMORIES FOR GENERATIONS